<div class= "container">
  <form action="/WordCounter/Counter" method="Post">
    <div class="form-group">
      <label for="new-word">Enter a word.</label>
      <input class="form-control" id="new-word" name="new-word" type="text">
      <input type="hidden" name="entered-sentence" value="@Model.GetUserSentence()">
    </div>
    <br>
    <button id="create-word" type="submit" class="btn btn-primary btn-lg">Click to continue</button>
  </form>
</div>



