<h1>Sentence PAge</h1>
  <form action="/WordCounter/New" method="Post">

      <label for="new-sentence">Enter a sentence.</label>
      <input class="form-control" id="new-sentence" name="new-sentence" type="text" />

    <button id="create-sentence" type="submit" class="btn btn-primary btn-lg">Click to continue</button>
  </form>
</div>
