<div class="container">
<br>
  <p class="description">Welcome. Let's play s game. Enter a sentence, and choose a word. I will count how many times that word appeared.</p>
  <form action="/WordCounter/CreateSentence" method="Get">
  <br>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Click to enter</button>
  </form>
</div>
